* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: #181818;
    color: #B3B3B3;
}
input, textarea, ::placeholder {
    color: #B3B3B3 !important;
}